* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    padding: calc(.5em + 2vw);
    touch-action: manipulation;
    background-color: hsl(210, 20%, 98%);
}

.d-none {
    display: none !important;
}

.almostFull {
    background-color: #ffb74d88;
}

.detailsForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: auto;
    margin-bottom: 1em;
    width: max-content;
    padding: 2em;
}   

.detailsForm label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(210, 5%, 96%);
    padding: .5em .75em;
    gap: 1.5em;
    outline: 1px solid hsl(210, 5%, 96%);
    outline-offset: 2px;
}

.detailsForm input {
    padding: .25em .5em;
    font-size: 1.25rem;
    width: 8ch;
}

.buttons {
    display: flex;
    width: max-content;
    gap: 1.5em;
    margin: auto;
    padding: 2em;
}

button {
    all: unset;
    border: 2px solid hsla(210, 100%, 56%, .2);
    padding: .5em 2em;
    min-width: 2ch;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 20%, 96%);
    font-weight: bold;
}

.buttons button {
    width: 1.5em;
    height: 1.5em;
    font-size: calc(2rem + 4vw);
    padding: .5em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

button:active {
    background-color: hsl(210, 80%, 92%);
}

button:focus {
    border-color: #2228;
}

.details {
    display: flex;
    gap: 1.5em;
    max-width: 700px;
    margin: auto;
}

.details > * {
    background-color: hsl(210, 20%, 95%);
    padding: .5em .75em;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 60ch;
}

.sessionUI span {
    display: block;
    font-weight: bold;
    font-size: 2rem;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin: auto;
}

.footer .timestamps {
    display: flex;
    gap: 1em;
    justify-content: center;
    height: 4em;
    overflow-x: scroll;
}

.footer p {
    background-color: hsl(210, 20%, 95%);
    padding: .25em .5em;
    min-width: max-content;
}

.footer span {
    font-size: 1rem;
}

.footerButtons {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.footer button {
    margin-bottom: 1em;
    min-width: 8ch;
}

.footer .reset {
    background-color: hsl(20, 94%, 95%);
}